{% extends 'base.html' %}
{% load static %}

{% block title %} E-SHOP @ My Orders {% endblock %}

{% block content %}
<section>
    <!-- ALERT MESSAGES -->
    {% include 'includes/alerts.html' %}

    <div class="container">
        <div class="row">

            <!-- DASHBOARD_SIDEBAR.HTML -->
            {% include 'includes/dashboard_sidebar.html' %}

            <!-- DASHBOARD.HTML -->
            <main class="col-md-9">
                <article class="card d-card">
                    <div class="dash-header-container">
                        <div class="dash-header">Order History: {{user.full_name}}</div>
                    </div>

                    <!-- Order History Table -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="my-column-header">Order #</th>
                                            <th class="my-column-header">Billing Name:</th>
                                            <th class="my-column-header">Phone Number:</th>
                                            <th class="my-column-header">Order Total:</th>
                                            <th class="my-column-header">Date:</th>
                                        </tr>
                                    </thead>
                                    {% if orders %}
                                        <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <th scope="row">
                                                    <a href="{% url 'order_detail' order.order_number %}">
                                                        {{order.order_number}}
                                                    </a>
                                                </th>
                                                <td class="my-column-data">{{order.full_name}}</td>
                                                <td class="my-column-data">{{order.phone}}</td>
                                                <td class="my-column-data">${{order.order_total}}</td>
                                                <td class="my-column-data">{{order.created_at}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        {% else %}
                                        <tbody>
                                            <tr>
                                                <td class="my-column-data" colspan="5">No orders found</td>
                                            </tr>
                                        </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>
{% endblock %}
