{% extends 'base.html' %}
{% load static %}

{% block title %} E-SHOP @ Reset Password {% endblock %}

{% block content %}
    <section class="content-down" style="min-height:84vh">
        <div class="card mx-auto" style="max-width: 470px; margin-top:100px;">
            <div class="card-body">
                <div class="reset_header">RESET PASSWORD:</div>
                {% include 'includes/alerts.html' %}
                    <form action="{% url 'reset_password' %}" method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder='Enter your email and click on the "Submit" button below' name="email">
                        </div>
                        <div class="form-group">
                            <a class="cart-link" href="{% url 'signin' %}">Back to Login Page</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
            <p class="signin-no-account ">
                Don't have an account?
            </p>
            <div class="signin-btn-container">
                <a class="btn" href="{% url 'register' %}">REGISTER HERE</a>
            </div>
        <br>
        <br>
    </section>
{% endblock %}
