{% extends 'base.html' %}
{% load static %}

{% block title %} E-SHOP @ Products {% endblock %}

{% block content %}
<div class="products-page-container">
    <section class="products-page-header-container">
        {% if 'search' in request.path %}
            <h1 class="products-page-header">SEARCH RESULTS:</h1>
        {% else %}
            <h1 class="products-page-header">OUR PRODUCTS:</h1>
        {% endif %}
    </section>

    <section class="section-content padding-y">
        <div class="row">

            <aside class="col-md-3">
                <article class="filter-group">
                    <div class="products-list-header" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true">
                        Categories:
                    </div>
                    <div class="filter-content collapse show" id="collapse_1">
                        <div class="card-body">
                            <ul class="products-list-menu">
                                <li>
                                    <a class="products-list-item" href="{% url 'products' %}">
                                        All Products
                                    </a>
                                </li>
                                {% for category in links %}
                                <li>
                                    <a class="products-list-item" href="{{ category.get_url }}">
                                        {{ category.category_name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </article>
            </aside>

            <main class="col-md-9">
                <div class="border-header-container">
                    <header class="border-bottom mb-4 pb-3">
                        <div class="form-inline">
                            <span
                                class="mr-md-auto">
                                <strong>{{ product_count }}</strong>
                                products
                            </span>
                        </div>
                    </header>
                </div>
                <div class="row">
                    {% if products %}
                    {% for product in products %}
                    <div class="col-md-4">
                        <figure class="products-card card-product-grid">
                            <div class="img-wrap">
                                <a href="{{ product.get_url }}">
                                    <img src="{{ product.images.url }}" alt="Product Image" class="img">
                                </a>
                            </div>
                            <figcaption class="products-card-text-container">
                                <a href="{{ product.get_url }}"></a>
                                <div class="products-info">{{ product.product_name }}<div>
                                <div class="products-price">${{ product.price }}</div>
                            </figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div>
                        <h2>No Results</h2>
                    </div>
                    {% endif %}
                </div>

                <!-- PAGINATION -->
                <nav aria-label="Page navigation">
                    {% if products.has_other_pages %}
                        <ul class="pagination">
                            {% if products.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ products.previous_page_number }}">
                                        PREVIOUS
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        PREVIOUS
                                    </a>
                                </li>
                            {% endif %}

                            {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">
                                            {{i}}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{i}}">
                                            {{i}}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if products.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{products.next_page_number}}">
                                        NEXT
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        NEXT
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav>
            </main>
        </div>
    </section>
</div>
{% endblock %}
