/* NEXT FONTS */
@font-face {
    font-family: "next-light";
    src: url('/static/fonts/next-light.otf') format('opentype');
}

@font-face {
    font-family: "next-regular";
    src: url('/static/fonts/next-regular.otf') format('opentype');
}

@font-face {
    font-family: "next-bold";
    src: url('/static/fonts/next-bold.otf') format('opentype');
}

@font-face {
    font-family: "next-semibold";
    src: url('/static/fonts/next-semibold.otf') format('opentype');
}


/* COOPER HEWITT */
@font-face {
    font-family: "CooperHewitt-Thin";
    src: url('/static/fonts/CooperHewitt-Thin.otf') format('opentype');
}

@font-face {
    font-family: "CooperHewitt-Light";
    src: url('/static/fonts/CooperHewitt-Light.otf') format('opentype');
}

@font-face {
    font-family: "CooperHewitt-Book";
    src: url('/static/fonts/CooperHewitt-Book.otf') format('opentype');
}

/* ELEPHNT */
@font-face {
    font-family: "ELEPHNT";
    src: url('/static/fonts/ELEPHNT.TTF') format('truetype');
}

@font-face {
    font-family: "ELEPHNTI";
    src: url('/static/fonts/ELEPHNTI.TTF') format('truetype');
}

/* ELEPHANT */
@font-face {
    font-family: "Elephant-Normal";
    src: url('/static/fonts/Elephant-Normal.ttf') format('truetype');
}

@font-face {
    font-family: "Elephant-Bold";
    src: url('/static/fonts/Elephant-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Elephant-Extended-Bold";
    src: url('/static/fonts/Elephant-Extended-Bold.ttf') format('truetype');
}

/* PHOTINA */
@font-face {
    font-family: "PhotinaMTStd-SemiBold";
    src: url('/static/fonts/PhotinaMTStd-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: "Photina MT Ultra Bold";
    src: url('/static/fonts/Photina MT Ultra Bold.ttf') format('truetype');
}

@font-face {
    font-family: "PhotinaMT";
    src: url('/static/fonts/PhotinaMT.ttf') format('truetype');
}


/*                                                                                          GENERAL STYLES */


html {
    background-color:       #fff;
    background-blend-mode:  exclusion;
    background-image:       url("/static/images/items/pa8.png");
}

body {
    height: 100%;
    max-width:              1200px;
    width:                  100%;
    margin:                 0 auto;
    display:                flex;
    flex-direction:         column;
    color:                  #000;
    background-image:       url("/static/images/items/exclusive-paper.png");
    box-shadow:             inset -4px 4px 6px #000,
                            inset 4px 4px 6px #000;
}

.main-content {
    margin-top:             80px; /* Push content down from Navbar */
    min-height:             calc(90vh);  /* Adjust for footer height */
    flex: 1;
}

.container {
    margin:                 0 auto;
}

/*                                                                                          COL-MD */
.col-md-3 {
    flex:                   1 1 calc(25% - 20px);
    max-width:              calc(25% - 20px);
    transition:             transform 0.2s ease;
}

.col-md-6 {
    margin:                 0;
    padding:                0;
    box-sizing:             border-box;
}

/*                                                                                          HEADER & BREAD TEXT */
h1,h2,h3  {
    font-family:            "ELEPHNT";
}

.grey-text {
    font-family:            "Elephant-Normal";

}
.page-header-container {
    margin:                 10px;
    display:                flex;
    justify-content:        space-between;
    align-items:            center;
}

.card-header {
    font-family:            "ELEPHNTI";
    text-shadow:            2px 1px 1px#000;
    display:                flex;
    justify-content:        space-between;
    align-items:            center;
    overflow:               hidden;
    color:                  #fff;
    border:                 2px outset #000;
    background-image:       linear-gradient(135deg, #000,#3d3d3d);
}

.card-header-2 {
    font-family:            "ELEPHNT";
    background-color:     #d58db0dd;
    display:                flex;
    justify-content:        space-between;
    align-items:            center;
    padding:                6px 20px;
    text-shadow:            1px 1px 1px #4445447f;
}

/*                                                                                          CARD */
.card-product-name  {
    text-decoration:        none;
    color:                  #000;
}

.card-product-name:hover  {
    text-decoration:        underline;
    color:                  #000;
}

.card-product-price {
    margin-bottom:          5px;
    color:                  #000;
}

/* Category Body in Products.html */
.card-body {
    background-image:       linear-gradient(90deg,#9e9c9cae, #fff);
}

/*                                                                                          FORM */
.form-header {
    margin-left:            10px;
    font-family:            "ELEPHNTI";
    font-size:              20px;
}

.form-group {
    margin:                 10px;
    color:                  #000;
}



/* Showing number of clothes */
.form-inline {
    font-family:            "ELEPHNT";
    font-size:              16px;
    color:                  #7f7d7d;
    word-spacing:           2px;
}

/*                                                                                          TABLE */
table {
    table-layout:           auto;
    width:                  100%;
}

/*                                                                                          BUTTON */
.btn-container {
    margin-top:             20px;
}

.btn {
    font-family:            "Photina MT";
    font-size:              14px;
    text-align:             center;
    cursor:                 pointer;
    border-radius:          5px;
    color:                  #ffffff;
    border:                 2px outset #000;
    background-image:       linear-gradient(135deg, #000,#6f6d6d);
    transition:             all 0.1s ease-in-out;
}

.btn:hover {
    color:                  #ffb8b8;
    background-image:       linear-gradient(225deg,#6f6d6d, #000);
}

    
/*                                                                                          PAGINATION */
.pagination {
    font-family:            "Elephant-Bold";
    font-size:              18px;
    display:                flex;
    justify-content:        center;
    list-style:             none;
    padding:                0;
    margin:                 1rem 0;
}

.page-link {
    display:                inline-block;
    padding:                8px 12px;
    text-decoration:        none;
    color:                  #fff;
    background-color:       #000;
    border-color:           #000;
    transition:             all 0.3s ease;
}

/* Active State */
.page-item.active .page-link {
    color:                  #ffb8b8;
    background-color:       #000;
    border-color:           #000;
    cursor:                 default;
}

/* Disabled State */
.page-item.disabled .page-link {
    color:                  #aaaaaa;
    background-color:       #000;
    border-color:           #000;
    cursor:                 not-allowed;
}

/* Hover State */
.page-link:hover {
    color:                  #ffb8b8;
    background-color:       #000;
    border-color:           #000;
}

/* Focus State */
.page-link:focus {
    box-shadow:             none;
}

/*                                                                                          IMG */
.img-wrap {
    display:                block;
    overflow:               hidden;
    width:                  100%;
    aspect-ratio:           1/1;
}

.img-wrap img {
    width:                  100%;
    height:                 100%;
    object-fit:             contain;
    object-position:        center;
    background-color:       #fff;
    transition:             transform 0.3s ease;
}

.info-wrap {
    font-family:            "next-light", sans-serif;
    text-align:             center;
}

/*                                                                                          HOME.HTML*/
.home-banner {
    font-family:            "ELEPHNT";
    text-shadow:            2px 1px 3px #a7a7a7;
    font-size:              52px;
    word-spacing:           8px;
    text-align:             center;
    color:                  #4a4a4a;
    -webkit-text-stroke: 0.5px rgb(78, 78, 78);
}

.home-header {
    max-width:              1000px;
    font-family:            "ELEPHNT";
    font-size:              22px;
    text-shadow:            1px 1px 2px #a7a7a7;
    width:                  100%;
    display:                flex;
    justify-content:        space-between;
    align-items:            center;
    margin:                 0 auto;
    margin-bottom:          5px;
    padding:                10px;
    color:                  #535252;
    
}

.home-container {
    max-width:              1000px;
    width:                  100%;
    display:                flex;
    justify-content:        space-between;
    align-items:            center;
    margin:                 0 auto;
}

.home-row {
    gap:                    20px;
    display:                flex;
    flex-wrap:              wrap;
    justify-content:        center;
    margin-bottom:          80px; /* Small screens */
}

.home-card {
    flex:                   1 1 220px;
    max-width:              280px;
    min-width:              220px;
    padding:                15px;
    overflow:               hidden;
    box-sizing:             border-box;
    display:                block;
    background-position:    center;
    background-size:        cover;
    background-repeat:      repeat;
    background-image:       url("/static/images/items/wo6.png");
    box-shadow:             1px 2px 4px rgba(0, 0, 0, 0.7);
    transition:             transform 0.3s ease, box-shadow 0.3s ease;
}

.home-card:hover {
    transform:              scale(1.05);
    box-shadow:             2px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Hovering card = Bold Font also */
.home-card:hover.home-text-container {
    text-decoration:        none;
    color:                  #000;
}

/* Image container within card */
.home-img-wrap {
    width:                  100%;
    height:                 200px;
    overflow:               hidden;
    display:                flex;
    align-items:            center;
    justify-content:        center;
    border-top: none;
    border-right:           2px inset #fff;
    border-left:            2px inset #fff;
    background-color:       #fff;
}

/* Image within card */
.home-img {
    width:                  100%;
    height:                 100%;
    border:                 none;
    outline:                none;
    background-color:       #fff;
    object-fit:             contain;
}

/* Product name & price */
.home-text-container  {
    font-family:            "PhotinaMTStd-SemiBold";
    font-size:              14px;
    text-align:             center;
    margin:                 0;
    padding:                0;
    outline:                none;
    border-top:             none;
    border-right:           2px inset #fff;
    border-bottom:          2px inset #fff;
    border-left:            2px inset #fff;
    
    background-color:       #fff;
}

/* Remove default */
.home-name  {
    text-decoration:        none;
    color:                  #171616;
}

/* Remove default */
.home-name:hover  {
    color:                  #000;
}

/* Remove default */
.home-price {
    margin-bottom:          5px;
    color:                  #005023;
}

/*                                                                                          PRODUCTS.HTML*/
/* Our Products */
.products-header {
    font-family:            ElEPHNT;
    font-size:              32px;
    margin-left:            20px;
    color:                  #3c3c3c;
    -webkit-text-stroke:    0.5px rgb(78, 78, 78);
   
}

/* Page Container */
.products-container {
    max-width:              1100px;
    margin:                 auto;
}

/* Header text "Categories" of all products */
.products-list-header {
    font-family:            "ELEPHNT";
    font-size:              22px;
    padding:                10px;
    display:                flex;
    justify-content:        space-between;
    align-items:            center;
    overflow:               hidden;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    color:                  #fff;
    background-image:       linear-gradient(135deg, #000,#3d3d3d);
}

/* Product list container */
.products-list-menu {
    list-style:             none;
    text-align:             right;
    margin:                 10px;
}

/* Product text in the list container */
.products-list-item {
    font-family: "PhotinaMTStd-SemiBold";
    line-height:            12px;
    font-size:              14px;
    text-decoration:        none;
    color:                  #171616;
}

.products-list-item:hover {
    font-size:              18px;
    color:                  #000;
}

.products-card {
    border-radius:          5px;
    padding:                0px;
    overflow:               hidden;
    box-sizing:             border-box;
    display:                block;
    color:                  #000;
    background-image:       linear-gradient(90deg, #fff,rgb(190, 190, 190));
    box-shadow:             1px 2px 4px rgba(0, 0, 0, 0.7);
    transition:             transform 0.3s ease, box-shadow 0.3s ease;
}

.products-card:hover {
    transform:              scale(1.05);
    box-shadow:             2px 4px 8px rgba(0, 0, 0, 0.3);
}

.products-card:hover .products-card-name,
.products-card:hover .products-card-price {
    font-family:            "Elephant-Bold";
    text-decoration:        none;
    color:                  #000;
}

.products-card-text-container {
    text-align:             center;
    padding:                5px;
}

.product-info {
    margin: 0;
    padding: 0;
    font-family: "PhotinaMTStd-SemiBold";
    font-size:              14px;
    text-decoration:        none;
}


/*                                                                                          PRODUCT_DETAIL.HTML */
/* Page container */
.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-md-5, .col-md-7 {
    display: flex;
    align-items: center;
}

/* Product Image Settings */
.detail-img {
    max-width:              400px;
    height:                 auto;
    display:                block;
    border:                 5px outset transparent;
    border-image-slice:     30;
    border-image-repeat:    stretch;
    border-image-source:    url("/static/images/items/gold3.png");
}

/* Product Option Container */
.detail-text-container {
    margin:                 20px 0;
    color:                  #000;
}

/* Product header = "Urban Jacket" etc. */
.detail-header {
    font-family:            "ELEPHNT";
    font-size:              26px;
    text-shadow:            1px 1px 2px #a7a7a7;
    color:                  #535252;  
}

/* Product Price Settings */
.detail-price {
    font-family:            "ELEPHNT";
    font-size:              18px;
    color:                  #1c7e48;
}

/* "Choose Color/Size" */
.product-select {
    font-family:            "PhotinaMTStd-Semibold";
    font-size:              16px;
    color:                  #333232; 
}

/*"Large, Medium, Small, One Size/Color Only"*/
.detail-selection {
    font-family:            "Photina MT";
    font-size:              14px;
    margin-bottom:          20px;
    width:                  200px;
    color:                  #000000; 
}

/* Button "Add Item" */
.detail-cart {
    display:                inline-block;
    position:               relative;
    vertical-align:         middle;
    background-size:        contain;
    background-repeat:      no-repeat;
    background-image:       url("/static/images/icons/cart15.png");
}

/* Product Reviews Section */
.detail-review-section {
    margin:                 0 auto;
    margin-bottom:          0;
    padding-bottom:         0;
    max-width: 900px;
}

/* "Customer reviews " */
.detail-review-header {
    font-family:                "ELEPHNTI";
    font-size:                  24px;
    color:                      #535252;
    text-align:                 center;
    border-bottom:              1px solid #838282;
}

/* Container for Product Reviews */
.detail-review-container {
    display:                    flex;
    flex-direction:             column;
    justify-content:            center;
    text-align:                 center;
}

/* Container for Review Text */
.detail-review-text {
    font-family:                "Photina MT";
    font-size:                  14px;
    line-height:                18px;
    margin:                     0px;
    padding:                    2px 10px;
    color:                      #272727;
}

/* Container for Review Image */
.detail-review-img {
    width:                      150px;
    height:                     100px;
    border-radius:              2px;
}

/*                                                                                          CART.HTML */
.cart-page-container {
    width:                      1000px;
    max-width:                  100%;
    margin:                     0 auto;  /* This centers horizontally */
    margin-top:                 30px;
    padding:                    0 15px; /* Side padding so content doesn’t touch edges */
}

/* "Product:, Details:, Quantity:, Price:" Headers */
.cart-th {
    font-family:                "PhotinaMTStd-SemiBold";
    font-size:                  18px;
}

/* Product Image Container in Product Column */
.cart-img-container {
    width:                      100px;
    align-items:                center;
    justify-content:            center;
}

/* Image Settings */
.cart-img {
    width:                      80px;
    justify-content:            center;
    text-align:                 center;
    height:                     auto;
    object-fit:                 cover;
    border-radius:              4px;
}

/* Details Column - Text Settings */
.cart-product-details {
    font-family:                "Photina MT";
    font-size:                  14px;
}

/* Details Column - Link to product detail for specific product item in cart */
.cart-info-link {
    font-size:                  18px;
    font-weight:                bold;
    text-decoration:            none;
    color:                      #004078;
}

/* Quantiy Column - FIX THIS HERE !!!! */
.cart-quantity {
    font-family:                "Photina MT";
    font-size:                  14px;
}

.cart-plus,
.cart-minus {
    display:                    inline-block;
    width:                      15px;
    height:                     15px;
    background-size:            contain;
    background-repeat:          no-repeat;
    background-position:        center;
    border:                     none;
    background-color:           transparent;
    cursor:                     pointer;
    padding:                    0;
}

/* Quantiy Column - Plus Image Settings */
.cart-plus {
    background-image:           url("/static/images/icons/plus.png");
    margin-right:               3px; /* Space between plus and input */
}

.cart-plus:hover {
    background-image:           rl("/static/images/icons/plus-green.png");
}

/* Quantiy Column - Minus Image Settings */
.cart-minus {
    background-image:           url("/static/images/icons/minus.png");
    margin-left:                3px; /* Space between plus and input */
}
.cart-minus:hover {
    background-image:           url("/static/images/icons/minus-red.png");
}

/* Price Column */
.cart-price {
    font-family:                "Photina MT";
    font-size:                  14px;
    color:                      #005023;
}

/* Remove Column - Container settings for remove image */
.cart-remove {
    display:                    inline-block;
    width:                      25px;
    height:                     25px;
    background-size:            contain;
    background-repeat:          no-repeat;
    background-position:        right;
    border:                     none;
    background-color:           transparent;
    cursor:                     pointer;
    padding:                    0;
}

/* Remove Column - Remove Image Settings */
.cart-remove {
    background-image:           url("/static/images/icons/remove-1.png");
    margin-top:                 8px;
}

.cart-remove:hover {
    background-image:           url("/static/images/icons/remove-1.1.png");
    margin-top:                 8px;
}

/* Cart Cost Container "Total Price, Tax, Grand Total" */
.cart-cost-container {
    border:                     1px solid #000;
    padding:                    5px;
}

/* Cart Cost Container - Header Text "Total Price, Tax, Grand Total" */
.cart-cost-header {
    font-family:                "PhotinaMTStd-SemiBold";
    font-size:                  18px;
}

/* Numbers for "Total Price, Tax, Grand Total" */
.cart-cost {
    font-family:                "Photina MT";
    font-size:                  14px;
    color:                      #005023;
}
/*                                                                                          DASHBOARD_SIDARBAR.HTML */
/* Item Container */
.list-group {
    border:                     none;
    box-shadow:                 2px 4px 4px rgba(0, 0, 0, 0.291);
}

/* Item */
.list-group-item {
    font-family:                "Photina MT";
    color:                      #000;
    border:                     none;
}

/* Top Item */
.list-group-item:first-child {
    border-top-left-radius:     5px;
    border-top-right-radius:    5px;
}

/* Bottom Item */
.list-group-item:last-child {
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
}

/* Sign Out - Container */
.sidebar-btn-container {
    margin:                     20px 0;
}

/* Sign Out - Icon */
.icon-control {
  margin-top:                   5px;
  float:                        right;
  font-size:                    80%;
}


/* Dashboard.html - Specific Styles */
/* Profile Image */
.dash-img {
    width:                      150px;
    height:                     auto;
    border:                     transparent;
}

/* Increase black for default Text */
.dash-text {
    color:                      #000;
}

/* Email Text below Profile Image */
.dash-email {
    margin-top:                 10px;
}

/* My_Orders.html - Header */
.my-header {
    color:                      #000;
    font-weight:                500;
}

/* Edit_Profile.html - Form */
.edit-form {
    padding:                    0 40px;
    color:                      #000;
}

/* Change_Password.html, Register.html - Specific Styles */
.change-form {
    padding: 0 40px;
    color: #000;
}

.card-width-400 {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
}


/* Checkout.html - Specific Styles */
.checkout-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #30303137;
    border: transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.291);
}

/* Register.hml - Specific Styles */
.signin {
    text-align: center;
}

.signin a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.signin a:hover {
    color: #004078;
    text-decoration: none;
    border-bottom: 1px solid #004078;
}

/* Signin.html - Specific Styles */
.forgot_password {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.forgot_password:hover {
    color: #004078;
    text-decoration: none;
    border-bottom: 1px solid #004078;
}

.no_account {
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    color: #000;
}

.register {
    text-align: center;
}

.register a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.register a:hover {
    color: #004078;
    text-decoration: none;
    border-bottom: 1px solid #004078;
}

/*                                              SMALL SCREEN */
@media (max-width: 768px) {
    .home-banner {
        margin: 40px 0;

    }

    /* Product_Detail.html */
    .detail-img-container {
        margin-top: 0;
        padding: 20px;
    }

    .detail-review-header {
        margin: 0px;
        padding: 0px;
    }

    .detail-review-container {
        margin-top: 10px;
        padding: 0px 20px;
    }

    .detail-review-content {
        margin:0;
        padding:0;
    }

    .list-menu {
        margin-bottom: 0;
    }

    .border-header-container {
        margin-top: 20px;
    }

    .card-item {
        padding: 0;
    }

    .btn {
        padding: 3px;
    }

    .col-md-3 {
        flex: 1 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .card-width-400 {
        width: 80%;
    }
}

/*                                              MEDIUM SCREEN */
@media (min-width: 769px) and (max-width: 1200px) {
    .home-banner {
        margin: 60px 0;
    }

    /* Product_detail.html */
    .detail-review-header {
        margin-top: 110px;
    }

    .detail-review-container {
        padding: 20px;
    }

    .card-item {
        padding: 0;
    }
}

/*                                              LARGE SCREEN */
@media (min-width: 1201px) {
    .home-banner {
        margin: 40px 0;

    }

    .detail-review-container {
        padding: 10px;
    }
}