/* Footer.html - Specific Styles */
.footer {
    font-family:            "PhotinaMT";
    font-size:              12px;
    text-align:             center;
    height:                 40px;
    line-height:            30px;
    display:                flex;
    max-width:              1200px;
    width:                  100%;
    align-items:            center;
    justify-content:        space-between;
    color:                  #000;
    background-size:        cover;
    background-repeat:      no-repeat;
    background-image:       url("/static/images/items/gold3.png");
    box-shadow:             0px -4px 6px rgba(0, 0, 0, 0.3);
}

/* Copyright */
.footer-left {
    margin:                 5px 10px;
}

.footer-center {
    margin:                 10px;
}

.email-link {
    color: #000;
    text-decoration: none;
}

.email-link:hover {
    color: #fff;
    font-size: 14px;
    text-shadow:1px 1px 1px #000;
}

/* Card images */
.footer-right {
    margin:                 5px 10px;
    font-size:              25px;
    display:                flex;
    justify-content:        center;
    align-items:            center;
    gap:                    5px;
    flex-wrap:              wrap;
}

/* Each img scales when hovering */
.footer-right i:hover {
    color:                  #fff;
    transform:              scale(1.4);
    transition:             all 0.2s ease;
}

/*                                              SMALL SCREEN */
@media (max-width: 768px) {
    .footer {
        line-height:        14px;
    }

    .footer-center {
        display:            flex;
        flex-direction:     column;
    }

    /* C 2024 ISHOP */
    .footer-left {
        font-size:          12px;
        padding-left:       20px;
    }

    /* ISHOP@INFO.COM */
    .footer-center {
        font-size:          12px;
    }

    /* MASTERCARD */
    .footer-right {
        font-size:          18px;
        padding-right:      20px;
    }
}