/*                                              NAVBAR */
.navbar {
    max-width:                  1200px;
    width:                      100%;
    margin:                     0 auto;
    height:                     40px;
    line-height:                30px;
    position:                   fixed;              /* Stick at the top */
    z-index:                    1060;               /* Above body content */
    background-size:            cover;
    background-position:        center;
    background-repeat:          no-repeat;
    background-image:           url("/static/images/items/gold3.png");
    box-shadow:                 0px 4px 6px rgba(0, 0, 0, 0.3);
}



/*                                              NAVBAR-BRAND & NAV-LINK */
.navbar-brand,
.nav-link {
    padding:                    0px 10px;
    border-radius:              5px;
    border:                     1px solid #000;
    cursor:                     pointer;
    color:                      #000;
    background-color:           transparent;
    font-family:                "Photina MT";
    letter-spacing:             1px;
}

/*                                              NAV-LINK:First-Child */
.nav-link:first-child {
    border-radius:              5px 0 0 5px;
}

/*                                              NAV-LINK:First-child Dropdown */
#CategoriesDropdown {
    border-top:                 1px solid #000;
    border-left:                1px solid #000;
    border-bottom:              1px solid #000;
    border-right:               none;
}

/*                                              NAV-LINK:Last-Child */
.nav-link:last-child {
    border-radius:              0 5px 5px 0;
}

/*                                              NAVBAR-BRAND & NAV-LINK:Active States */
.navbar-brand:hover,
.nav-link:hover,
.nav-link:focus,
.nav-link.active  {
    color:                      #000;
    box-shadow:                 inset 1px 1px 1px rgba(0, 0, 0, 0.78);
    background-image:           radial-gradient(#00000015,#00000020);
}



/*                                              NAVBAR-NAV */
.navbar-nav {
    flex-direction:             row;
    display:                    flex;
    align-items:                center;
}

/*                                              SEARCH-FORM */
.search-form {
    outline:                    none;
    display:                    flex;
    align-items:                center;
    flex-wrap:                  nowrap;         /* Prevent wrapping to a new row */
    border-radius:              5px;
}

/* SEARCH-INPUT (Search...) */
.search-input {
    font-family:                "Photina MT";
    font-size:                  14px;
    line-height:                26px;           /* Same height as brand */
    border-top:                 1px solid #000;
    border-bottom:              1px solid #000;
    border-left:                1px solid #000;
    border-right:               none;
    outline:                    none;
    padding:                    2px 5px;
    width:                      250px;
    border-top-left-radius:     5px;
    border-bottom-left-radius:  5px;
}

/*                                              SEARCH-INPUT:Active States */
.search-input:hover,
.search-input:focus,
.search-input.active {
    outline:                    none;
}

/*                                              SEARCH-BUTTON */
.btn-search {
    display:                    inline-block;
    outline:                    none;
    border-top-right-radius:    5px;
    border-bottom-right-radius: 5px;
    border:                     1px solid #000;
    background-color:           transparent;
}


/*                                              SEARCH-BUTTON ICON */
.icon-search {
    width:                      25px;
    height:                     20px;
    display:                    block;
    background-size:            contain;
    background-repeat:          no-repeat;
    background-position:        center center;
    background-image:           url('../images/icons/e6.png');
}

/*                                              SEARCH-BUTTON + ICON:Active states */
.btn-search:hover .icon-search {
    transition:                 all 0.1s ease;
    background-image:           url('../images/icons/e5.png');
}

.btn-search:hover,
.cart-container:hover {
    font-family:                "ELEPHNT";
    color:                      #000;
    box-shadow:                 inset 1px 1px 1px rgba(0, 0, 0, 0.78);
    background-image:           radial-gradient(#00000015,#00000020);
}


/*                                             NAVBAR-TOGGLER */
.navbar-toggler {
    line-height:                30px;
}

/*                                             NAVBAR-TOGGLER-ICON */
.navbar-toggler-icon {
    display:                    flex;
    flex-direction:             column;
    justify-content:            space-between;
    width:                      30px;
    height:                     20px;
    cursor:                     pointer;
    transition:                 all 0.3s ease-in-out;
}

/*                                             NAVBAR-TOGGLER ICON BARS */
.navbar-toggler-icon .bar {
    width:                      100%;
    height:                     3px;
    background-color:           #000;
    transition:                 all 0.3s ease-in-out;
}

/*                                             NAVBAR-TOGGLER - ICON BARS:Animation */
.navbar-toggler.collapsed .bar-1 {
    transform:                  translateY(8px) rotate(0deg);
}
.navbar-toggler.collapsed .bar-2 {
    opacity:                    1;
}
.navbar-toggler.collapsed .bar-3 {
    transform:                  translateY(-8px) rotate(0deg);
}
.navbar-toggler .bar-2 {
    transform:                  translateY(0);
    opacity:                    1;
}

/*                                             NAVBAR-TOGGLER ICON BARS:Active States */
.navbar-toggler:hover .bar {
    background-color:           #ffb8b8;
}

/*                                             NAVBAR-COLLAPSE */
.navbar-collapse {
    width:                      100%;
    display:                    flex;
    flex-wrap:                  wrap;
    justify-content:            space-between;
    align-items:                center;
}

.navbar-collapse .nav-link {
    text-align:                 center;

}

/*                                              DROPDOWN ACCOUNT */
#AccountDropdown {
    border-radius:              5px 0 0 5px!important;
    border-right:               none;
}

/*                                              DROPDOWN-MENU */
.dropdown-menu {
    font-family:                "Photina MT";
    font-size:                  14px;
    line-height:                14px;
    top:                        100%;
    right:                      0;
    z-index:                    1060;
    position:                   absolute !important;
    min-width:                  auto !important;
    padding:                    2px;
    border-radius:              5px 0 0 5px;
    border: 1px solid #000;
    display:                    none; /* Initially hidden */
}

/*                                              DROPDOWN-ITEM */
.dropdown-item {
    padding:                    3px 10px;
    color:                      #000;
    background-color:           transparent;
}

/*                                              DROPDOWN-ITEM:Active States */
.dropdown-item:hover {
    color:                      #000;
    font-size:                  16px;
    background-color:           transparent;
}

/*                                              NAVBAR-LINK - CART-CONTAINER */
.cart-container {
    border:                     1px solid #000;
    line-height:                30px;
    padding:                    5px;
    display:                    flex;
    align-items:                center;
    position:                   relative;
    border-radius:              0 5px 5px 0!important;
    color:                      #000;
    background-color:           transparent;
}

/*                                              NAVBAR-LINK - CART-CONTAINER - ICON */
.icon-cart {
    width:                      25px;
    height:                     20px;
    display:                    flex;
    align-items:                center;
    position:                   relative;
    vertical-align:             middle;
    background-size:            contain;
    background-repeat:          no-repeat;
    background-image:           url("/static/images/icons/cart-5.png");
}

/*                                              NAVBAR-LINK - CART-CONTAINER - NOFITY */
.cart-container .notify {
    position:                   absolute;
    top:                        -10px;
    right:                      -0.2px;
    border-radius:              50%;
    padding:                    0.25rem;
    color:                      #ffb8b8;
    background-color:           transparent;
    transform:                  scale(1); /* Base state */
    transition:                 all 0.2s ease;
}
/*                                              NAVBAR-LINK - CART-CONTAINER - NOFITY:Active States */
.cart-container:hover .notify {
    top:                        -7px;
    right:                      3px;
    transform:                  scale(1.4);
}

/*                                              RESPONSIVE SETTINGS:TOGGLER OPEN */
@media (max-width: 992px) {
    .navbar {
        height:                 auto;
    }

    /* Space between 1 & 2 row */
    .navbar-collapse.show .nav-link {
        margin-top:             8px;
        padding:                0 8px;
    }

    /* Dropdown over other templates */
    .dropdown-menu {
        position:               absolute !important;
        min-width:              auto !important;
    }

    .cart-container {
        margin-top:             8px;
    }
}

/*                                              RESPONSIVE SETTINGS:SMALL SCREENS */
@media (max-width: 768px) {
    .search-form {
       line-height:             30px;
       justify-content:         center;
       margin:                  0;
    }

    .search-input {
        margin:                 0;
        padding:                0 5px;
        width:                  175px;
    }
}
