{% load static %}

{% block extra_css %}
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">

                <!-- NAVBAR BRAND -->
                <a class="navbar-brand "href="{% url 'home' %}">E-SHOP</a>

                <!-- NAVBAR SEARCH-FORM -->
                <form class="d-flex" role="search">
                    <input class="search-input" type="search" placeholder="Search..." aria-label="Search">
                    <button class="btn-search" type="submit">
                        <div class="icon-search" aria-label="Search Icon"></div>
                    </button>
                </form>

                <!-- NAVBAR TOGGLER -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="navbar-toggler-icon">
                        <span class="bar bar-1"></span>
                        <span class="bar bar-2"></span>
                        <span class="bar bar-3"></span>
                    </div>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Push left -->
                    <ul class="navbar-nav me-auto ms-md-3 ms-lg-3">

                        <!-- NAV-LINK 'CATEGORIES' DROPDOWN-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="CategoriesDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                            <div class="dropdown-menu">
                                {% for category in links %}
                                    <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
                                {% endfor %}
                            </div>
                        </li>

                        <!-- NAV-LINK 'ALL PRODUCTS' -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}">All Products</a>
                        </li>
                    </ul>

                    <!-- Push Right -->
                    <ul class="navbar-nav ms-auto">
                        <!-- NAV-LINK 'ACCOUNT' DROPDOWN -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="AccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu" aria-labelledby="AccountDropdown">
                                {% if user.id is None %}
                                    <li><a class="dropdown-item" href="{% url 'signin' %}">Login</a></li>
                                    <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                                    <li><a class="dropdown-item" href="{% url 'signout' %}">Logout</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <!-- NAV-LINK 'CART' -->
                        <li class="cart-container">
                            <a class="icon-cart" id="IconCart" href="{% url 'cart' %}">
                                <span class="notify">{{ cart_count|default:"0" }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/toggler.js' %}" type="text/javascript"></script>
{% endblock %}